<template>
	<div class="row">
	<div class="col-md-12">
		<h1>{{page.title}}</h1>
		<div v-html="page.body"></div>
	  </div>
	</div>
</template>

<script>
	import * as ABOUT from '../static/about.json';

	export default {
	  data: function() {
		return {
		  page: ABOUT.page
		}
	  },
	}
</script>

<style lang="scss">
  img {
    max-width: 100%; 
  }

  p  {
    word-wrap: break-word;
  }
</style>