<template>
	  <div class="row">
      <div class="col-md-12">
                <h1 v-html="page.title">...</h1>
                    <div v-html="page.body"></div>
                    <div id="map" style="height:300px;"></div>
      </div>
  </div>
</template>

<script>
  import * as CONTACT from '../static/contact.json';
  var GoogleMapsLoader = require('google-maps'); // only for common js environments 
  GoogleMapsLoader.KEY = 'AIzaSyAUvk_NgyzKymfwk0Pt8beNwtE3hh--_-o'; 

  export default {
    data: function() {
      return {
        page: CONTACT.page
      }
    },
    mounted: function(){
      var myLatLng = {lat: this.page.coordinates.lat, lng: this.page.coordinates.lng };

      GoogleMapsLoader.load(function(google) {
              let map = new google.maps.Map(document.getElementById('map'), {
                    center: myLatLng,
                    zoom: 15
                  });

              new google.maps.Marker({
                  position: myLatLng,
                  map: map
                });
        });
    }
  }
</script>

<style>
  #map {
    width: 100%;
    clear: left;
    height: 490px;
    margin-top:8px;
  }
  .social-networks div {
    display: inline-block;
    width: 64px;
  }
  .social-networks a {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-size: cover;
  }
  .social-networks a:hover {
    opacity: 0.75;
  }
  @media only screen and (min-width: 40.063em) {
    .social-networks div {
      display: inline-block;
      width: 96px;
    }
    .social-networks a {
      width: 64px;
      height: 64px;
    }
  }

  .label {
    background-color: #cb3446;
  }
</style>