<template>
	  <div class="row">
    <div class="col-md-12">
      <h1>Exploring {{pageTitle}}</h1>
                  
            
                      <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                          <li :class="{'page-item':true,'disabled':currentPage-1<1}" v-on:click="prev()">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
    
                          </li>
                        
                          <li v-for="n in Math.ceil(models.length/itemsPerPage)" class="page-item" :class="{'active':n==currentPage}" v-on:click="page(n)"><a class='page-link' href="/#/explore">{{ n }}</a></li>
                          <li :class="{'page-item':true, 'disbabled': currentPage+1>Math.ceil(models.length/itemsPerPage)}" v-on:click="next()">
                            <a class="page-link" href="#" aria-label="Next" >
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>

                      <div id="grid-element-controls">
                        <span id="make-small"  :class="gridClass==='small'?'active':''">S</span>
                        <span id='make-medium' :class="gridClass==='medium'?'active':''">M</span>
                        <span id='make-large'  :class="gridClass==='large'?'active':''">L</span>
                  </div>
                                  
                  <div id="grid-scale" :class="'grid-'+gridClass">          
                      <div v-for="(model, index) in paginate(models, currentPage)" class="model" v-on:click="visit(model.id)">
                          <img :src="model.portfolio[0].url" :alt="model.title" />
                          <span>{{model.title}} </span>
                      </div> 
                  </div>
        </div>
 </div>
</template>

<script>
import * as MODELS from '../static/models.json';

const defaultGridClass = 'medium';

//const gridClass = window.innerWidth <= 640 ? 'large' : 'medium';

export default {
  data: function() {
    return {
      pageTitle: MODELS.page.title,
      models: MODELS.page.models,
      currentPage: 1,
      itemsPerPage: 6,
      gridClass: defaultGridClass
    }
  },
  methods: {
                            paginate: function (data, currentPage) {
                                //console.log('Slicing and returning', data.slice((currentPage-1)*this.itemsPerPage,(currentPage-1)*this.itemsPerPage+this.itemsPerPage));
                               return data.slice((currentPage-1)*this.itemsPerPage,(currentPage-1)*this.itemsPerPage+this.itemsPerPage);
                            },
                            prev: function() {
                                this.$data.currentPage = ((this.$data.currentPage-1 > 0) ? this.$data.currentPage - 1 : this.$data.currentPage);
                                this.$nextTick(function () { this.setBackgrounds() });
                                return false;
                            },
                            page: function(n) {
                                this.$data.currentPage = n;
                                this.$nextTick(function () { this.setBackgrounds() });
                                return false;
                            },
                            visit: function(id) {
                              //this.$router.push({path: '/explore/'+id});
                              this.$router.push({path: '/explore/'+id});
                            },
                            next: function() {
                                //this.$data.currentPage = ((this.$data.currentPage+1 <= 0) ? this.$data.currentPage + 1 : this.$data.currentPage);
                                this.$data.currentPage = ((this.$data.currentPage+1 <= Math.ceil(this.$data.models.length/this.$data.itemsPerPage)) ? this.$data.currentPage + 1 : this.$data.currentPage)
                                this.$nextTick(function () { this.setBackgrounds() });
                                return false;
                            },
                            setBackgrounds: function() {
                                Array.from(document.querySelectorAll('.model')).forEach(function(el, index){
                                  var image_source = el.childNodes[0].src;
                                  el.style.backgroundImage = "url('" + image_source + "')";
                                });						        
                            }
  },
   mounted: function () {
                        this.$nextTick(function () {
                            Array.from(document.querySelectorAll('.model')).forEach(function (el, index) {
                                var image_source = el.childNodes[0].src;
                                el.style.backgroundImage = "url('" + image_source + "')";
                            });

                           Array.from(document.querySelectorAll('#grid-element-controls span')).forEach(function(control, index){
                               control.addEventListener('click', function(e) {
                                    var className = "grid-"+this.id.slice(this.id.indexOf('-')+1, this.id.length);

                                    let elClassList = document.getElementById('grid-scale').classList;

                                    elClassList.add(className);

                                    for (var i = 0; i < elClassList.length; i++) {
                                              if (className !== elClassList.item(i)) elClassList.remove(elClassList.item(i));
                                    }

                                    if (!this.classList.contains('active')) this.classList.add('active');

                                    var _this = this;
                                   Array.from(document.querySelectorAll('#grid-element-controls span')).forEach(function(controlEl){    
                                        if (controlEl.id !== _this.id) {
                                          for (var i = 0; i < controlEl.classList.length; i++) {
                                              controlEl.classList.remove(controlEl.classList.item(i));
                                          }
                                        }
                                    });

                              });
                           });
                            
                        })
                }
}
</script>

<style lang="scss" scoped>
  /* Controls */
  #controls {
    text-align: right;
  }

  #controls div {
    display: inline;
    background: grey;
    color: white;
    border: 2px solid black;
    text-align: center;
    padding: 3px;
    width: 32px;
    height: 32px;
  }

  #controls div:hover {
    background: pink;
  }

  /* The Grid */

  #grid-scale {
    clear: both;
    padding-top: 25px;
    display:flex; /* Fallback */
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-content:space-around;
    display:grid;
    grid-gap: 15px;
      /*flex-wrap: wrap;*/
      /*justify-content: flex-start;*/
  }

  #grid-scale .model {
    margin:15px;
    background-size: cover;
    background-position: top center;
    background-color:#f1f1f1;
    cursor: pointer;
  }

  #grid-scale .model:hover {
    opacity: 0.85;
  }

  #grid-scale .model span {
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-size:12px;
  }

  #grid-scale .model img {
    display: none;
  }

  .grid-large {
    grid-template-columns:  1fr 1fr 1fr;
  }

  .grid-large .model {
    flex:0 0 auto;
    flex-basis: 300px;
    height:300px;
  }

  .grid-medium {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .grid-medium .model {
    flex:0 0 auto;
    flex-basis: 200px;
    height:250px;
  }

  .grid-small {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .grid-small .model {
    flex:0 0 auto;
      flex-basis: 150px;
      height:150px;
    }



  .grid .grid-small .model span { /* No label for small posters */
    display: none;
  }

  @media only screen and (max-width: 640px) {
    #grid-element-controls span {
      display:none;
    }
    
    .grid-large  {   grid-template-columns: 1fr 1fr; }
    
    .grid-medium {  grid-template-columns: 1fr 1fr; }

    .grid-small  {  grid-template-columns: 1fr 1fr; }
  }

  @media only screen and (max-width: 320px) {
          
    .grid-large  {   grid-template-columns: 1fr; }
    
    .grid-medium {  grid-template-columns: 1fr; border-bottom: 32px solid green; }

    .grid-small  {  grid-template-columns: 1fr; }
  }

  #grid-element-controls {
    text-align:right;
  }

  #grid-element-controls span {
    background-color: black;
    color: white;
    padding: 5px;
  }
  #grid-element-controls span:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  #grid-element-controls span.active {
    background-color: pink;
    color: black;
  }
  #grid-element-controls #make-small {
    font-size: 9px;
  }
  #grid-element-controls #make-medium {
    font-size: 12px;
  }
  #grid-element-controls #make-large {
    font-size: 15px;
  }

  img.model-pic { /* Wha? */
    margin-bottom: 4px;
  }
</style>