<template>
	  <div>
           <h1>{{form.title}}</h1>

            <div v-html="form.description"></div>
            <form method="post" action="https://aidas.herokuapp.com/register" id="registrationForm" novalidate="novalidate"> 
               
                
            <input type="hidden" name="token" :value="token"/>

                <fieldset v-for="(fieldset, index) in form.fieldset" id="personalInformation">
                    <legend :id="'f'+index">{{fieldset.title}}</legend>

                    <div class="row">
                        <div v-for="input in fieldset.input" :class="{'col-md-6':true, 'col-sm-12':true, 'error':hasErrors(input.name)}">
                            <label :id="input.name" :class="input.required ? 'required' : null">
                                <input
                                    v-if="!input.options.length"
                                    :type="input.type"
                                    :name="input.name"
                                    :placeholder="input.placeholder"
                                    :data-vv-name="getName(input.name)"
                                    v-validate="provideValidationRule(input)"
                                    :aria-label="input.title"
                                    :required="input.required ? 'required' : null"
                                />

                                <select
                                    v-if="input.options.length"
                                    :name="input.name"
                                    :data-vv-name="getName(input.name)"
                                    v-validate="'required'"
                                    :aria-label="input.title"
                                    :required="input.required ? 'required' : null"
                                >
                                    <option></option>

                                    <option v-for="option in input.options">{{option}}</option>
                                </select>

                                <span class="placeholder">
                                    {{input.title}}

                                    <span v-show="input.required">*</span>
                                </span>

                                <small
                                    v-show="hasErrors(input.name)"
                                    class="error"
                                >
                                    {{ errors.first(input.name) }}
                                </small>

                                <!-- DISPLAY GREE CHECK ON SUCCESSFULL ENTRY -->
                                <span
                                    v-show="!hasErrors(input.name) && !input.options.length && fieldIsDirty(fields, input)"
                                    class="ui-icon ui-icon-circle-check"
                                ></span>
                            </label>
                        </div>
                    </div>
                </fieldset>

                <fieldset id="f9">
                    <legend>ADD SOME PHOTOS (5 max.)</legend>

                    <div class="row">
                        <div class="col-md-12" id="fileUploadContainer">
                                <input type="hidden" name="images" id="images" value=""/>
                        </div>
                    </div>
                </fieldset>

                <div id="terms-conditions" class="row">
                    <div class="col-md-12 text-center">
                        Before sending your data, pelase read our

                        <a target="_blank" onclick="window.open('./terms-and-conditions.html', '_blank', 'width=500')">Terms and Conditions</a> page. If you agree with how we manage your data – check the
                        check-box below.

                        <br>
                        <br>
                    </div>
                </div>

                <div class="row">
                 <div id="agreement" class="col-md-12 text-center" v-on:click="toggleAgreement()">
                        <img  :src="'assets/images/checkbox-'+checkboxStatus+'.png'" alt=""> I HAVE READ AND AGREE WITH TERMS AND CONDITIONS
                    </div>
                  </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-primary" v-on:click="validateBeforeSubmit()">Submit</button>
                        <button  type="button"  class="btn btn-link" v-on:click="cancelForm()">Cancel</button>
                    </div>
                </div>
            </form>
   </div>
</template>

<script>
import * as FROM from '../static/form.json';

const $ = require('jquery');
$.ui = require('jquery-ui');
$.datepicker = require('jquery-ui/ui/widgets/datepicker');

const ImageUploader = require('../libs/image-uploader.js');

var token = Math.floor(Math.random()*100000); // 
var imageServerUrl = 'https://meridianas.herokuapp.com/?token=' + token;

export default {
  data: function() {
    return {
      form: FROM.page,
      token: token,
      agree:true,
      checkboxStatus: 'checked',
      fileUploader: null
    }
  },
  mounted: function() {
      this.fileUploader = ImageUploader('fileUploadContainer', token, imageServerUrl);

    //event.preventDefault();
     let dateTimeFiled =  $("input[type='date']");

     dateTimeFiled.attr('type','text');
     dateTimeFiled.datepicker({
         dateFormat: "yy-mm-dd",
         yearRange: "-35y:-18y",
         defaultDate: "-18y",
        changeMonth: true,
        changeYear: true,
     });
  },
  methods: {
              cancelForm: function() {
                                this.errors.clear();  
                                window.location = window.location;
                            },
                            toggleAgreement: function() {
                                var status = ['empty', 'checked'];
                                var newAgreement = !this.$data.agree;

                                this.$data.agree = newAgreement
                                this.$data.checkboxStatus = status[newAgreement*1];

                                
                            },
                            getName: function (name) {

                                return name;
                            },

                            provideValidationRule: function (input) {
                                if (input.required) {
                                    if (input.type === 'email') {
                                        return 'required|email';
                                    } else if (input.type === 'date') {
                                        return 'required';
                                        //return 'required|date_format:{YYYY/MM/DD}|date_between:{1989/01/01,1999/01/01}'; 
                                    } else {
                                        return 'required';
                                    }
                                } else {
                                    return '';
                                }
                            },
                            fieldIsDirty: function (fields, input) {
                                if (fields[input.name]) {
                                    return fields[input.name].dirty;
                                }

                                return false;
                            },
                            validateBeforeSubmit: function () {
                                if (!this.$data.agree) {
                                    alert('You must first agree to our Terms and Conditions.');
                                    return false;
                                }
                                
 
                                this.$validator.validateAll().then((result) => {
                                    if (result) {
                                        var sfilesToUpload = "";

                                        console.log('About to submit a form');
                                        this.fileUploader.filesToUpload.forEach(function (file) {
                                            sfilesToUpload = sfilesToUpload + file.name + ",";
                                        }, this);

                                        $('#images').val(sfilesToUpload.slice(0, -1));
                                              
                                        document.forms[1].submit();
                                    }

                                });
                            },
                            hasErrors: function (name) {
                                return this.errors.has(name);
                            }              
        }   

}


</script>

<style lang="scss">
  #registrationForm {
    padding: 16px;
    width: 100%;
    overflow: hidden;

    legend {
      text-transform: uppercase;
      color: black;
      font-weight:bold;
    }

    fieldset {
      border: none;
      padding: 25px 0px 25px 0px;
    }

    label {
      display: block;
      position: relative;
      margin-bottom: 32px;
    }

    label span {
       cursor: default;
    }

    label span.placeholder {
      position: absolute;
      display: block;
      left: 32px;
      top: -6px;
      padding-left: 8px;
      padding-right: 8px;
      background-color: #ffffff;
      color: purple;
      text-transform: uppercase;
      letter-spacing: .8px;
      font-size: 11px;
      line-height: 14px;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }

    input, select {
      width: 100%;
      height: 48px !important;
      padding: 8px 16px 8px 16px !important;
      border: 1px solid #dcdcdc;
      box-sizing: border-box;
      background-color:white;
    }

  }

  #agreement {
    font-size: 12px;
    cursor:pointer;
    color: purple;
  }

  #terms-conditions {
    text-transform:uppercase;
    font-size: 12px;

    a {
      color:blue;
      text-decoration:underline;
      cursor: pointer;
    }
  }


  #fileUploadContainer  {
    .thumb {
      width: 112px;
      height: 112px;
      margin-left: 8px;
      float:left;
      background-position-y: top;
      background-position-x: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
 
    .fileinput-button {
      position: relative;
      overflow: hidden;
      display: inline-block;
    }
    .fileinput-button input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        font-size: 200px !important;
        direction: ltr;
        cursor: pointer;
      }

      .fileinput-button {
        background-color: #cecece;
        color: white;
        padding: 4px;
        text-align: center;
        width: 112px;
        height: 112px;
        display: block;
        float: left;
        background-position: center, center;
        background-image: url('./../assets/images/upload-icon.png');
        background-repeat: no-repeat;
        background-size: 48px 48px;
      }

      /* line 156, ../design/scss/form-page.scss */
      #progress_bar_container .progress-bar {
        background: green;
        height: 8px;
        clear:left;
        margin-top:8px;
        width:0;
      }

    //    button {
    //   background-color: red;
    //   color: white;
    //   font-weight: bold;
    // }
}

/* line 1, ../design/scss/form-page.scss */
div.progress-bar {
  background: green;
}

.error {
  color: red;
}


</style>