<template>
  <main>
        <h1>Ooops!</h1>
        <p>There were problems submiting your data! Try again or contact us direct.</p>
	</main>
</template>

<script>
export default {
  data: function() {
    return { }
  },
}
</script>