<template>
	<main>
        <h1>Thank you!</h1>
        <p><img src="../assets/images/robot.svg" alt="Happy Robot" /></p>
        <p>Your form submition was a success!</p>
  </main>
</template>

<script>
export default {
  data: function() {
    return { }
  },
}
</script>

<style lang="scss" scoped>
  img {
    width: 100%;
    max-width: 300px;
  }
</style>