<template>
    <div id="gallery"></div>
</template>

<script>
    import * as Gallery from '../libs/gallery';
    import anime from 'animejs';
    import * as tmpJson from '../static/new-faces.json';

    /* Support for swiping */
    const touchy = require('touchy');

    function provideImages(data){
            var images = [];
            if (data.page.models.length) {
                data.page.models.forEach(function(element) {
                    if (element.images.length) {
                        images.push({
                            title: element.title,
                            source: element.images[0]
                        })
                    }
                }, this);
            }
            return images;
    }

    export default {
        data: function() {
            return {
                page: tmpJson.page
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                    if (window.innerWidth <= 640) {
                        var galleryHeight = window.innerHeight*0.9;
                    } else {
                        var galleryHeight = window.innerHeight*0.7;
                    }
                    
                    var config = {
                        autoplay: true,
                        autoplayTime: 2000,

                        currentFocus: 2,
                        galleryStart: 2,
                        galleryEnd: this.page.models.length-1,

                        galleryHeight: galleryHeight,
                        horizontalSpacing: 50,
                        verticalSpacing: 20           
                    }

                    var images = provideImages(this);   
                    var galleryDOM = document.getElementById('gallery');      
                
                     var animationInProgress = false;

                    var g = new Gallery.default(
                                    galleryDOM,
                                    images,
                                    config,
                                    function (element, step){ 
                                            if (window.requestAnimationFrame === undefined) {
                                                element.style.left = parseFloat(element.style.left) + step + 'px';
                                                return;
                                            } 

                                            if (!animationInProgress)
                                                anime({
                                                    targets: element,
                                                    left: step,
                                                    easing: 'easeInOutQuad',
                                                    duration: 400,
                                                    begin: function() {
                                                        animationInProgress = true;
                                                    },
                                                    complete: function() {
                                                        animationInProgress = false;
                                                    }
                                                });
                                    
                                    },
                                    function() { // everything loaded!
                                            if (config.autoplay){
                                                setTimeout(function repeat(){
                                                    if (!g.forward()) { g.currentFocus = config.galleryStart; }
                                                    if (config.autoplay) setTimeout(repeat, config.autoplayTime);
                                                }, config.autoplayTime)
                                            }
                                    }
                            );

            touchy.enableOn(document);
            
            galleryDOM.addEventListener('swipe:left', function(){  if ( config.autoplay) config.autoplay = false; g.forward()});
            galleryDOM.addEventListener('swipe:right', function(){  if ( config.autoplay) config.autoplay = false; g.backward()});



            window.addEventListener('resize', function(e){
                config.autoplay = false;
                g.scale();
            });

            document.addEventListener('keydown', function(e) {

                    let key = 'none';

                    // S a f a r i support
                    if (e.key === undefined) {
                        e.key = e.which;

                        if (e.key === 37) e.key = 'Left';
                        if (e.key === 39) e.key = 'Right';
                    }

                    if (e.key == 'Left' || e.key == 'Right') { // support for EDGE
                        key = 'Arrow'+ e.key;
                    } else {
                        key = e.key;
                    }

                    console.log(key);

                    switch(key) {
                        case 'ArrowLeft': 
                            config.autoplay = false;
                            if (!animationInProgress) g.backward();
                            break;

                        case 'ArrowRight': // right
                            config.autoplay = false;
                            if (!animationInProgress) g.forward();
                            break;

                        default: return;
                    }
                    e.preventDefault(); 
                });
            });
        }
    }
</script>

<style >
    #gallery { 
        position: relative;
        overflow: hidden;
    }


    #gallery section {
        position: absolute;
        display: block;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        background-color:#f1f1f1;
    }
</style>