<template>
       <div class="container">
    <nav class="navbar navbar-inverse bg-inverse rounded navbar-toggleable-md">
 
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
             <router-link  class="navbar-brand" to="/">LEV Model Agency</router-link>

            <div class="collapse navbar-collapse" id="navbarsExampleContainer">
            <ul class="navbar-nav mr-auto">
                <router-link tag="li"  exact-active-class="active" class='nav-item'   to="/about">
                    <a class='nav-link'>ABOUT</a>
                </router-link>

                <router-link tag="li"  class='nav-item'  active-class="active" exact-active-class="active"  to="/explore">
                    <a class='nav-link'>EXPLORE</a>
                </router-link> 

                <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                </li> -->

                <router-link tag="li"  exact-active-class="active"  active-class="active"   class='nav-item'  to="/form">
                    <a  class='nav-link'>BECOME A MODEL</a>
                </router-link>

                <router-link tag="li"  class='nav-item'  exact-active-class="active"   to="/contact">
                    <a  class='nav-link'>CONTACT US</a>
                </router-link>
            </ul>
            <SearchForm></SearchForm>
            </div>
   
        </nav>
             </div>
</template>

<script>
    import SearchForm from './search-form.vue';

    export default {
        data: function(){
            let isMobile = window.innerWidth < 640;

            return {
               isMobile: isMobile
            }
        },
        components: {
            SearchForm
        },       
        mounted: function(){
            /*window.addEventListener('resize', function() {
                if (window.innerWidth > 640) {
                    let domEl = document.querySelector('nav ul');
                    domEl.style.display  = 'block';
                } 
            });*/
        },
        methods: {
            toggleHamburger: function() {
                let domEl = document.querySelector('nav ul');
                if (domEl.style.display === 'none') {
                    domEl.style.display  = 'block';
                } else {
                    domEl.style.display = 'none';
                }
            }
        }
    }
</script>

<style></style>