<template>
	<div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <router-link tag="li" class="breadcrumb-item" to="/"><a>Home</a></router-link>
          <router-link tag="li" class="breadcrumb-item" to="/explore"><a>Explore</a></router-link>
          <router-link tag="li" class="breadcrumb-item active" :to="{path: '/explore/'+ model.id}">{{model.title}}</router-link>
        </ol>
      </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h2 class='profile-title'>{{model.title}} <small>{{collection.title}}</small></h2>
      <div class="collection">
        <img class="model-pic" v-for="(image, index) in collection.images" :src="image" :title="model.title+' photo '+(index+1)+' in collection.title '+collection.name" />
      </div>
    </div>
    
    <div class='col-md-3'>    
      <div class="list-group widget" id="links">
      <h3>Images</h3>
        <a v-for="(cl, index)  in model.collections"
                v-if="cl.images.length"
                v-on:click="collectionFilter(cl.name)"
                href="#"
                :class="(collection.name==cl.name) ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action'">
                {{cl.title}}
        </a>
        <a class="list-group-item list-group-item-action" v-if="model.instagram" :href="model.instagram" target="_blank" >Instagram</a>
        </div>
        <div class="widget" v-if="model.metrics">
          <h3>Metrics</h3>
          <ul class="list-group">
            <li v-for="metric in model.metrics" class="list-group-item justify-content-between">
               {{metric.title}}
              <span class="badge badge-default badge-pill">{{metric.value}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
     model: {},
     collection: {}
    }
  },
  created () {
    this.fetchData()
  },
  mounted() {
    let collectionContainer = document.getElementById('links');
    if (collectionContainer.children.length === 1) {
      collectionContainer.innerHTML = '';
    }
  },
  methods: {
    fetchData () {
        const json = require('../static/single/'+this.$route.params.id+'.json');
        this.model = json.page.model;

        for (let i = 0; i < json.page.model.collections.length; i++) {
            if (json.page.model.collections[i].images.length) {
                this.collectionFilter(json.page.model.collections[i].name)
                break;
            }
        }

        this.model.id = this.$route.params.id;
      },
    collectionFilter(cn) {
       let _this = this;
       this.model.collections.forEach((collection)=>{
         if (cn === collection.name) { _this.collection = collection;  }
       });
    },
    showMetrics() {
      let result = "";
      //let metricsIndicator = false;

      for (let metric in this.model.metrics) {
        if (this.model.metrics[metric].value.length) {
         result = result + this.model.metrics[metric].title + ": " +  this.model.metrics[metric].value + "\n";
        }
      }

      alert(result);
    }
    }
}
</script>

<style lang="scss" scoped>
  img {
    width: 100%;
  }

  li.active a {
    color:red;
  }

  small {
    color: red;
  }

  .profile-title {
    font-size:3.5rem;
  }

  .widget {
    margin-top:9px;
  }
</style>