<template>
	<div class="row">
    <div class="col-md-12">
        <h2 v-if="searchQuery.length">Search results for: {{searchQuery}}</h2>

          <div class='result' v-for="(model, index) in models" href="#" v-on:click="visit(model.id)">
                        <!-- <img :src="model.portfolio[0].url" :alt="model.title" /> -->
                        <router-link tag="p"  :to="{ path: '/explore/'+model.id}"><a>{{model.title}}</a></router-link> 
            </div> 
        </div>
    </div>
</template>

<script>
import * as MODELS from '../static/models.json';
import SearchFormComponent from './search-form.vue';

export default {
  data: function() {
    return {
     searchQuery: '',
     models: []
    }
  },
  components: {
    SearchFormComponent
  },
    methods: {
        visit: function(id) {
            //this.$router.push({path: '/explore/'+id});
            this.$router.push({path: '/explore/'+id});
        },
        fetchData () {            
            if (this.$route.params.query) {
              var searchQuery = this.$route.params.query;
              var searchQueryLowercase = searchQuery.toLowerCase();

              this.searchQuery = searchQuery;

              this.models = MODELS.page.models.filter(model => {
                  if (model.title.toLowerCase().indexOf(searchQueryLowercase) >= 0) return true;
                  return false;
              });
            }
        }
    },
  created () {
    this.fetchData();
  }
}
</script>

<style>
.result a {
  color:green;
  font-size: 19px;
}
</style>