<template>
    <form class="form-inline my-2 my-md-0" id="searchForm" v-on:submit.prevent="validateBeforeSubmit('searchForm')">
                <input class="form-control mr-sm-2" placeholder="Type something..."  name="query" type="text">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" v-on:click="validateBeforeSubmit('searchForm')">Search</button>
    </form>
</template>

<script>
    export default {
       methods: {
           validateBeforeSubmit: function(formID) {
               document.forms[formID].query.value
               this.$router.push({path: '/search/'+document.forms[formID].query.value});
           },
           preventSubmition: function(formID, e) {
               e.preventDefault();
               this.validateBeforeSubmit(formID);
           }
       },
       mounted() {
           document.forms.searchForm[0].focus();
       }
    }
</script>

<style></style>