<template>
  <div id="app">
    <header>
      <NavigationComponent></NavigationComponent>
    </header>

    <main class='container'>
      <router-view :key="$route.path"></router-view>
    </main>

	<footer>            
			<FooterComponent></FooterComponent>
	</footer>
  </div>
</template>

<script>
  import NavigationComponent from './components/navigation.vue'
  import FooterComponent from './components/footer.vue'

  export default {
    name: 'app',
    data () {
      return {
      }
    },
    components: {
      NavigationComponent,	
      FooterComponent
    },
    mounted() {
    }
  }
</script>

<style lang="scss">
  main.container {
    margin-top: 1rem;
    padding-left:1rem;
    padding-right:1rem;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  footer {
    margin-top: 1rem;  
  }

  h1 {
    margin-bottom: 1rem;
  }
</style>