/* line 2, ../design/scss/contactus-page.scss */
#map {
  width: 100%;
  clear: left;
  height: 490px;
}

/* line 9, ../design/scss/contactus-page.scss */
.social-networks div {
  display: inline-block;
  width: 64px;
}
/* line 14, ../design/scss/contactus-page.scss */
.social-networks a {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-size: cover;
}
/* line 20, ../design/scss/contactus-page.scss */
.social-networks a:hover {
  opacity: 0.75;
}
@media only screen and (min-width: 40.063em) {
  /* line 27, ../design/scss/contactus-page.scss */
  .social-networks div {
    display: inline-block;
    width: 96px;
  }
  /* line 32, ../design/scss/contactus-page.scss */
  .social-networks a {
    width: 64px;
    height: 64px;
  }
}
/* line 38, ../design/scss/contactus-page.scss */
.social-networks #facebook a {
  background-image: url("./../../assets/images/facebook.png");
}
/* line 43, ../design/scss/contactus-page.scss */
.social-networks #instagram a {
  background-image: url("./../../assets/images/instagram.png");
}
/* line 47, ../design/scss/contactus-page.scss */
.social-networks #gplus a {
  background-image: url("./../../assets/images/gplus.png");
}

/* line 55, ../design/scss/contactus-page.scss */
form {
  padding-top: 32px;
}

/* line 59, ../design/scss/contactus-page.scss */
.label {
  background-color: #cb3446;
}
