/* line 1, ../design/scss/form-page.scss */
.progress-bar {
  background: green;
}

/* line 5, ../design/scss/form-page.scss */
#fileUploadContainer {
  margin-left: 4px;
}
/* line 9, ../design/scss/form-page.scss */
#fileUploadContainer section {
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  margin-left: 8px;
  width: 112px;
  height: 112px;
}
/* line 20, ../design/scss/form-page.scss */
#fileUploadContainer section button {
  background-color: red;
  color: white;
  font-weight: bold;
}
/* line 26, ../design/scss/form-page.scss */
#fileUploadContainer section.fileinput-button {
  background-color: #cecece;
  color: white;
  padding: 4px;
  text-align: center;
  width: 112px;
  height: 112px;
  display: block;
  float: left;
  background-position: center, center;
  background-image: url(./../../assets/images/upload-icon.png);
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

/* line 44, ../design/scss/form-page.scss */
form {
  width: 100%;
  overflow: hidden;
}
/* line 50, ../design/scss/form-page.scss */
form fieldset {
  padding: 25px 0px 25px 0px;
}
/* line 54, ../design/scss/form-page.scss */
form label {
  display: block;
  position: relative;
  margin-bottom: 32px;
}
/* line 59, ../design/scss/form-page.scss */
form label span {
  cursor: default;
}
/* line 63, ../design/scss/form-page.scss */
form label .ui-icon, form label .ui-widget-content .ui-icon {
  background-image: url(./../../assets/images/ui-icons_444444_256x240_green.png);
}
/* line 68, ../design/scss/form-page.scss */
form label input,
form label select {
  width: 100%;
  height: 48px !important;
  padding: 16px !important;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
}
/* line 81, ../design/scss/form-page.scss */
form label input.touched,
form label select.touched {
  background-color: orange;
}
/* line 82, ../design/scss/form-page.scss */
form label input.untouched,
form label select.untouched {
  background-color: grey;
}
/* line 83, ../design/scss/form-page.scss */
form label input.valid,
form label select.valid {
  background-color: green;
}
/* line 84, ../design/scss/form-page.scss */
form label input.invalid,
form label select.invalid {
  background-color: red;
}
/* line 85, ../design/scss/form-page.scss */
form label input.pristine,
form label select.pristine {
  background-color: pink;
}
/* line 86, ../design/scss/form-page.scss */
form label input.dirty,
form label select.dirty {
  background-color: yellow;
}
/* line 89, ../design/scss/form-page.scss */
form label textarea {
  height: 300px;
}
/* line 94, ../design/scss/form-page.scss */
form label input:focus, form label select:focus {
  border-color: #aaa;
  background-color: white;
}
/* line 101, ../design/scss/form-page.scss */
form label select {
  background: transparent;
  border: 1px solid #dcdcdc;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* appearance: none;       remove default arrow */
  background-image: url("./../images/iconmonstr-triangle-1-12.png");
  background-repeat: no-repeat;
  background-position: right 32px center;
}
/* line 111, ../design/scss/form-page.scss */
form label select::-ms-expand {
  display: none;
  /* hide the default arrow in ie10 and ie11 */
}

/* line 125, ../design/scss/form-page.scss */
.positive .ui-icon, .positive .ui-widget-content .ui-icon {
  background-image: url(./../assets/images/ui-icons_777620_256x240.png);
}

/* line 132, ../design/scss/form-page.scss */
.warning .ui-icon, .warning .ui-widget-content .ui-icon {
  background-image: url(./../assets/images/ui-icons_444444_256x240_W.png);
}
/* line 140, ../design/scss/form-page.scss */
.warning .message {
  margin-top: 0px;
  font-size: 12px;
  padding: 4px;
  background-color: #f1f1f1;
  color: black;
  display: block;
}
/* line 148, ../design/scss/form-page.scss */
.warning .message a {
  color: blue;
}

/* line 156, ../design/scss/form-page.scss */
#progress .progress-bar {
  background: green;
  height: 20px;
  width: 0px;
}

/* line 167, ../design/scss/form-page.scss */
.error input {
  border: 1px solid red;
}
/* line 170, ../design/scss/form-page.scss */
.error input:focus {
  border-color: red;
}
/* line 175, ../design/scss/form-page.scss */
.error .ui-icon, .error .ui-widget-content .ui-icon {
  background-image: url(./../../assets/images/ui-icons_cc0000_256x240_error.png);
}
/* line 180, ../design/scss/form-page.scss */
.error .message {
  margin-top: 0px;
  font-size: 12px;
  padding: 4px;
  background-color: red;
  color: white;
  display: block;
}

/* line 190, ../design/scss/form-page.scss */
.ui-icon {
  position: absolute;
  display: block;
  right: 32px;
  top: 20px;
}

/* line 197, ../design/scss/form-page.scss */
.placeholder {
  position: absolute;
  display: block;
  left: 32px;
  top: -6px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #ffffff;
  color: #fd999a;
  text-transform: uppercase;
  letter-spacing: .8px;
  font-size: 11px;
  line-height: 14px;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* line 214, ../design/scss/form-page.scss */
.disclaimer {
  color: blue;
  max-width: 80%;
  min-width: 320px;
}

/* line 220, ../design/scss/form-page.scss */
#agreement {
  color: red;
  margin-bottom: 15px;
}
/* line 222, ../design/scss/form-page.scss */
#agreement:hover {
  cursor: pointer;
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width: 0\0) {
  /* line 231, ../design/scss/form-page.scss */
  select {
    background-image: none\9;
    padding: 5px\9;
  }
}
/* line 237, ../design/scss/form-page.scss */
legend {
  text-transform: uppercase;
  color: black;
}

/* line 242, ../design/scss/form-page.scss */
fieldset {
  border: none;
}
