/* line 1, ../design/scss/grid.scss */
#controls {
  text-align: right;
}
/* line 3, ../design/scss/grid.scss */
#controls div {
  display: inline;
  background: grey;
  color: white;
  border: 2px solid black;
  text-align: center;
  padding: 3px;
  width: 32px;
  height: 32px;
}
/* line 16, ../design/scss/grid.scss */
#controls div:hover {
  background: pink;
}

/* line 23, ../design/scss/grid.scss */
#grid section {
  float: left;
  margin: 5px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  width: 250px;
  height: 250px;
}
/* line 37, ../design/scss/grid.scss */
#grid section:hover {
  /*padding:1px solid pink;*/
  opacity: 0.75;
}
/* line 42, ../design/scss/grid.scss */
#grid section.small {
  width: 150px;
  height: 150px;
}
/* line 47, ../design/scss/grid.scss */
#grid section.medium {
  width: 250px;
  height: 250px;
}
/* line 52, ../design/scss/grid.scss */
#grid section.large {
  width: 350px;
  height: 350px;
}
/* line 57, ../design/scss/grid.scss */
#grid section img {
  visibility: hidden;
}
