/* line 1, ../design/scss/gallery.scss */
#gallery {
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 10, ../design/scss/gallery.scss */
#gallery section {
  position: absolute;
  display: block;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 19, ../design/scss/gallery.scss */
#gallery section img {
  visibility: hidden;
}
