/* line 1, ../design/scss/grid.scss */
#controls {
  text-align: right;
}
/* line 3, ../design/scss/grid.scss */
#controls div {
  display: inline;
  background: grey;
  color: white;
  border: 2px solid black;
  text-align: center;
  padding: 3px;
  width: 32px;
  height: 32px;
}
/* line 16, ../design/scss/grid.scss */
#controls div:hover {
  background: pink;
}

/* line 23, ../design/scss/grid.scss */
#grid section {
  float: left;
  margin: 5px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  width: 250px;
  height: 250px;
}
/* line 37, ../design/scss/grid.scss */
#grid section:hover {
  /*padding:1px solid pink;*/
  opacity: 0.75;
}
/* line 42, ../design/scss/grid.scss */
#grid section.small {
  width: 150px;
  height: 150px;
}
/* line 47, ../design/scss/grid.scss */
#grid section.medium {
  width: 250px;
  height: 250px;
}
/* line 52, ../design/scss/grid.scss */
#grid section.large {
  width: 350px;
  height: 350px;
}
/* line 57, ../design/scss/grid.scss */
#grid section img {
  visibility: hidden;
}

/* line 4, ../design/scss/models-page.scss */
.grid .model {
  background-size: cover;
  background-position: top center;
  /*background-color:greenyellow;*/
  float: left;
  margin: 0px 25px 25px 0px;
  cursor: pointer;
  position: relative;
}
/* line 13, ../design/scss/models-page.scss */
.grid .model:hover {
  opacity: 0.85;
}
/* line 17, ../design/scss/models-page.scss */
.grid .model span {
  width: 100%;
  display: block;
  background-color: white;
  color: black;
  text-align: center;
  position: absolute;
  bottom: 0px;
  text-transform: uppercase;
  font-size: 12px;
}
/* line 29, ../design/scss/models-page.scss */
.grid .model img {
  display: none;
}
/* line 35, ../design/scss/models-page.scss */
.grid .grid-large .model {
  width: 100%;
  height: 300px;
}
/* line 42, ../design/scss/models-page.scss */
.grid .grid-medium .model {
  width: 100%;
  height: 300px;
}
/* line 49, ../design/scss/models-page.scss */
.grid .grid-small .model {
  width: 100%;
  height: 300px;
}
/* line 53, ../design/scss/models-page.scss */
.grid .grid-small .model span {
  display: none;
}
@media only screen and (min-width: 40.063em) {
  /* line 62, ../design/scss/models-page.scss */
  .grid .grid-large .model {
    width: 30%;
    height: 300px;
  }
  /* line 69, ../design/scss/models-page.scss */
  .grid .grid-medium .model {
    width: 20%;
    height: 200px;
  }
  /* line 76, ../design/scss/models-page.scss */
  .grid .grid-small .model {
    width: 10%;
    height: 100px;
  }
}

/* line 86, ../design/scss/models-page.scss */
#grid-element-controls {
  display: none;
  float: right;
}
/* line 93, ../design/scss/models-page.scss */
#grid-element-controls span {
  background-color: black;
  color: white;
  padding: 5px;
}
/* line 98, ../design/scss/models-page.scss */
#grid-element-controls span:hover {
  opacity: 0.9;
  cursor: pointer;
}
/* line 103, ../design/scss/models-page.scss */
#grid-element-controls span.active {
  background-color: pink;
  color: black;
}
/* line 109, ../design/scss/models-page.scss */
#grid-element-controls #make-small {
  font-size: 9px;
}
/* line 113, ../design/scss/models-page.scss */
#grid-element-controls #make-medium {
  font-size: 12px;
}
/* line 117, ../design/scss/models-page.scss */
#grid-element-controls #make-large {
  font-size: 15px;
}

@media only screen and (min-width: 40.063em) {
  /* line 123, ../design/scss/models-page.scss */
  #grid-element-controls {
    display: block;
  }
}
/* line 128, ../design/scss/models-page.scss */
#grid-scale {
  clear: both;
  padding-top: 25px;
}

/* line 135, ../design/scss/models-page.scss */
img.model-pic {
  margin-bottom: 4px;
}
