/* line 3, ../design/scss/navigation.scss */
nav.top-bar {
  text-align: center;
}
/* line 6, ../design/scss/navigation.scss */
nav.top-bar .title-area {
  text-align: left;
}
/* line 12, ../design/scss/navigation.scss */
nav.top-bar.expanded .title-area {
  background-color: #000000;
}
@media screen and (max-width: 39.9375em) {
  /* line 3, ../design/scss/navigation.scss */
  nav.top-bar {
    background-color: #000000;
  }
}

/* line 24, ../design/scss/navigation.scss */
.top-bar-section {
  /* min-width 641px, medium screens */
}
/* line 27, ../design/scss/navigation.scss */
.top-bar-section li li.first a:first-of-type {
  border-top: 1px solid #5d5644;
}
@media only screen and (min-width: 40.063em) {
  /* line 24, ../design/scss/navigation.scss */
  .top-bar-section {
    display: inline-block;
  }
}
