/* line 1, ../design/scss/profile-page.scss */
.widget {
  margin-bottom: 25px;
}
/* line 4, ../design/scss/profile-page.scss */
.widget #info-widget {
  margin-top: 20px;
  background: #fd999a;
  font-size: 12px;
  color: white;
}
/* line 12, ../design/scss/profile-page.scss */
.widget a.active {
  font-weight: bold;
}
